## Machine Learning for Wine Ratings

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.19.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

### Create a Pandas Frame from an online CSV
Note that this requires a publicly available repository in Github (for this example). A private repo will require auth.

In [14]:
import pandas as pd
csv_url = "https://raw.githubusercontent.com/paiml/wine-ratings/main/wine-ratings.csv"
# set index_col to 0 to tell pandas that the first column is the index
df = pd.read_csv(csv_url, index_col=0)
df.head(10)

                                                name  ...                                              notes
0  1000 Stories Bourbon Barrel Aged Batch Blue Ca...  ...  This is a very special, limited release of 100...
1  1000 Stories Bourbon Barrel Aged Gold Rush Red...  ...  The California Gold Rush was a period of coura...
2  1000 Stories Bourbon Barrel Aged Gold Rush Red...  ...  The California Gold Rush was a period of coura...
3    1000 Stories Bourbon Barrel Aged Zinfandel 2013  ...  The wine has a deep, rich purple color. An int...
4    1000 Stories Bourbon Barrel Aged Zinfandel 2014  ...  Batch #004 is the first release of the 2014 vi...
5    1000 Stories Bourbon Barrel Aged Zinfandel 2016  ...  1,000 Stories Bourbon barrel-aged Zinfandel is...
6    1000 Stories Bourbon Barrel Aged Zinfandel 2017  ...  Batch 55 embodies an opulent vintage, which sa...
7                            12 Linajes Crianza 2014  ...  Red with violet hues. The aromas are very inte...
8                            12 Linajes Reserva 2012  ...  On the nose, a complex predominance of mineral...
9                   14 Hands Cabernet Sauvignon 2010  ...  Concentrated aromas of dark stone fruits and t...

[10 rows x 6 columns]

Remove any newlines or carriage returns

In [10]:
df = df.replace({"\r": ""}, regex=True)
df = df.replace({"\n": " "}, regex=True)
df.head(10)

                                                name  ...                                              notes
0  1000 Stories Bourbon Barrel Aged Batch Blue Ca...  ...  This is a very special, limited release of 100...
1  1000 Stories Bourbon Barrel Aged Gold Rush Red...  ...  The California Gold Rush was a period of coura...
2  1000 Stories Bourbon Barrel Aged Gold Rush Red...  ...  The California Gold Rush was a period of coura...
3    1000 Stories Bourbon Barrel Aged Zinfandel 2013  ...  The wine has a deep, rich purple color. An int...
4    1000 Stories Bourbon Barrel Aged Zinfandel 2014  ...  Batch #004 is the first release of the 2014 vi...
5    1000 Stories Bourbon Barrel Aged Zinfandel 2016  ...  1,000 Stories Bourbon barrel-aged Zinfandel is...
6    1000 Stories Bourbon Barrel Aged Zinfandel 2017  ...  Batch 55 embodies an opulent vintage, which sa...
7                            12 Linajes Crianza 2014  ...  Red with violet hues. The aromas are very inte...
8                            12 Linajes Reserva 2012  ...  On the nose, a complex predominance of mineral...
9                   14 Hands Cabernet Sauvignon 2010  ...  Concentrated aromas of dark stone fruits and t...

[10 rows x 6 columns]

In [11]:
df.describe()

       grape        rating
count    0.0  32780.000000
mean     NaN     91.186608
std      NaN      2.190391
min      NaN     85.000000
25%      NaN     90.000000
50%      NaN     91.000000
75%      NaN     92.000000
max      NaN     99.000000

In [15]:
# the grape is not a very good column, lets remove it and describe it again
df.drop(['grape'], axis=1, inplace=True)
df.describe()

             rating
count  32780.000000
mean      91.186608
std        2.190391
min       85.000000
25%       90.000000
50%       91.000000
75%       92.000000
max       99.000000